/* Variables CSS pour une meilleure maintenabilité */
:root {
    --primary-color: #1E90FF;
    --secondary-color: #D1D1D1;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --text-color-light: #777777;
    --font-family: 'Comfortaa', sans-serif;
    --font-heading: 'Poppins', sans-serif;
    --transition-speed: 0.3s;
    --slider-width: 800px;
    --slider-height: 550px;

}

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all var(--transition-speed) ease;
}

/* Corps de la page */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

/* Styles pour le sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar a {
    display: block;
    width: 50px;
    height: 50px;
}

.sidebar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.sidebar a:hover img {
    transform: scale(1.1);
}

/* Styles pour le contenu principal */
main {
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}

section {
    width: 100%;
    max-width: 800px;
}

section h1, section h3 {
    margin-bottom: 20px;
    font-family: var(--font-heading);
    font-size: 2em;
    color: var(--primary-color);
    letter-spacing: 1px;
}

section p {
    font-size: 1.2em;
    color: var(--text-color-light);
}

section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

 #intro {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 #intro p {
    margin-bottom: 30px;
 }

 .presentation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* Dégradé violet vers bleu */
    color: white;
    padding: 30px;
    font-size: 1.2rem;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:50px 150px;
}

.about-me h2 { 
    margin-bottom: 15px;
}

.presentation-box p {
    line-height: 2;
    color: white;
    margin:  0 30px;
    text-align: center;
}

.svg-bureau {
    max-width: 860px;
    height: auto;
}


/* Liste de compétences et projets */
#skills {
    text-align: center;
    margin: 50px 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f4f4f4; /* Fond léger */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.skill:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skill img {
    width: 24px;
    height: 24px;
}

.skill span {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

/* Projet */

#project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

#project h2{
    font-size: 2em;
    margin: 2em 0;
}

.project-descr p{
    max-width: 650px;
    margin-left: 40px;
}

.slider {
    width: var(--slider-width);
    height: var(--slider-height);
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(3 * var(--slider-width));
}

.slide {
    min-width: var(--slider-width);
    height: var(--slider-height);    
    background-color: #F5F5F5;
}

.slide img {
    width: 100%;
    height: 100%;     
    max-width: 650px;
    max-height: 550px;
    object-fit: contain;
    object-position: center;
    background-color: #F5F5F5;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #7b2fb9;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
}

.indicator.active {
    background-color: #4f159b;
}




/* Contact*/
#contact {
    background-color: #ebebeb;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin: 40px 0 60px 0;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-family: var(--font-heading);
}

#contact p {
    font-size: 1.1em;
    color: var(--text-color);
    margin-bottom: 25px;
}

#contact .email {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

#contact .email:hover {
    background-color: #1C86EE;
    transform: translateY(-3px);
}

#contact .cv-button {
    display: flex;
    width: fit-content;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #7b2fb9;
    color: var(--background-color);
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact .cv-button:hover {
    background-color: #4f159b;
    transform: translateY(-3px);
}

#contact a {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #7b2fb9;
    color: var(--background-color);
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
}

#contact a:hover {
    background-color: #4f159b;
    transform: translateY(-3px);
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-left {
    text-align: left;
    flex: 1;
}

.footer-left h2 {
    font-family: var(--font-heading);
    font-size: 1.8em;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 1em;
    color: #D1D1D1;
}

.footer-right {
    text-align: right;
    flex: 1;
}

.footer-right h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-right a {
    margin: 0 10px;
}

.footer-right img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: transform 0.3s ease;
}

.footer-right a:hover img {
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 20px;
}

footer hr {
    width: 80%;
    margin: 20px auto;
    opacity: 0.3;
}

.social a {
    display: inline-block;
    margin: 0 15px;
}

.social img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: transform 0.2s ease;
}

.social img:hover {
    transform: scale(1.1);
}

.copyright p {
    font-size: 0.85em;
    margin-top: 20px;
}

@media (max-width: 1035px) {

 #intro svg {
    width: 550px;
    height: 450px;
 }
 
 .svg-bureau {
    max-width: 100%;
 }

 .about-me{
    margin:50px;
 }

 .sidebar {
    width: 50px;
    height: 120px;
    padding: 10px;
 }

 .sidebar a img {
    width: 30px;
    height: 30px;
 }
}

@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    section h1, section h2, section h3 {
        font-size: 1.6em;
    }

    #skills ul li, #project ul li {
        font-size: 1em;
    }

    #contact a {
        padding: 10px 20px;
    }

    .footer-section {
        text-align: center;
    }

    :root {
        --slider-height: 300px; 
    }

    .slider {
        width: 100%;
        height: var(--slider-height);
    }

    .slides {
        width: 300%;
    }

    .slide {
        min-width: 100%;
        height: var(--slider-height);
    }

    .slide img {
        object-fit: contain;
    }

    .presentation-box {
        width: 110%;
    }
}

@media (max-width: 600px) {

    #intro svg {
        width: 350px;
        height: 250px;
    }
    
    .sidebar {
        display: none;
    }

    #contact div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-left {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-right {
        text-align: center;
    }
    

}

@media (max-width: 480px) {
    :root {
        --slider-height: 250px; /* Ajustement pour les très petits écrans */
    }

    .about-me {        
        margin: 15px;
    }

    .slider {
        height: var(--slider-height);
    }

    .slide img {
        object-fit: contain;
    }

    .presentation-box {
        width: 120%;
    }

    .presentation-box p {
        margin:  0 10px;
        font-size: 0.8em;
    }

}

@media (max-width: 360px) {


    .presentation-box h2 {
        font-size: 0.8em;
    }

    .skill{
        padding: 5px 10px;
    }

    .skill span {  
        font-size: 0.6em;
    }

    #intro svg {
        width: 200px;
        height: 100px;
    }

    #contact div {
        font-size: 0.8em;
    }

    .presentation-box p {
        font-size: 0.6em;
    }
}
